<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- <xacro:property name="lidar_radius" value="0.05" />
    <xacro:property name="lidar_height" value="0.025" />
    <xacro:arg name="laser_visual"  default="true"/> -->

    <!-- IMU Link -->

  <joint name="base_imu_joint" type="fixed">
    <parent link="base_link" />
    <child link="imu_link" />
    <origin xyz="0 0 0.54085" rpy="0 0 0" />
  </joint>
  <link name="imu_link">
    <visual>
      <geometry>
        <box size="0.1 0.1 0.03" />
      </geometry>
      <material name="grey" />
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0.54085"/>
      <geometry>
        <box size="0.1 0.1 0.03" />
      </geometry>
      <material name="grey"/>
    </collision>
    <inertial>
      <origin xyz="0 0 0.54085" rpy="0 0 0"/>
      <mass value="1.0" />
      <inertia ixx="0.3" ixy="0" ixz="0"
               iyy="0.3" iyz="0"
               izz="0.3"/>
    </inertial>
  </link>
    
  <gazebo reference="imu_link">
      <gravity>true</gravity>
      <sensor name="imu_sensor" type="imu">
        <always_on>true</always_on>
        <update_rate>10</update_rate>
        <visualize>true</visualize>
        <topic>/imu/data</topic>
        <plugin filename="libgazebo_ros_imu_sensor.so" name="imu_plugin">
          <topicName>/imu/data</topicName>
          <bodyName>imu_link</bodyName>
          <updateRateHZ>100.0</updateRateHZ>
          <gaussianNoise>0.0</gaussianNoise>
          <xyzOffset>0 0 0</xyzOffset>
          <rpyOffset>0 0 0</rpyOffset>
          <frameName>imu_link</frameName>
          <initialOrientationAsReference>false</initialOrientationAsReference>
        </plugin>
        <pose>0 0 0 0 0 0</pose>
      </sensor>
  </gazebo>

</robot>